bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/



ArtGallery.WebAPI/appsettings.json
ArtGallery.WebAPI/appsettings.Production.json
.idea/
certificates/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
ArtGallery.WebAPI/.env
ArtGallery.WebAPI/.env.production

# Log files
*.log
logs/
ArtGallery.WebAPI/logs/